cache ="~/.npm"                                # 缓存位置
engine-strict = false                          # 是否严格限制node版本
https-proxy = null                             # npm网络操作的代理
package-lock = true                            # 使用package-lock.json

registry ="https://registry.npmjs.org/"        # npm仓库地址，尤其对自建仓库的Team很有用
